*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body::-webkit-scrollbar{
    background-color: rgb(239, 234, 234);
    border-radius: 10px;
    width: 10px;
 }
 
 body::-webkit-scrollbar-thumb{
     background-color: rgb(70, 141, 203);
     border-radius: 10px;
     height: 10px;
 }

 body::-webkit-scrollbar-track{
    border-radius: 20px;
  background-color: rgb(240, 240, 249);    
}