*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body::-webkit-scrollbar{
    border-radius: 20px;
    width: 10px;
    background-color: black;
 }
 
 body::-webkit-scrollbar-thumb{
     background-color: purple;
     border-radius: 20px;
     height: 10px;
 }

 body::-webkit-scrollbar-track{
    border-radius: 20px;
  background-color: rgb(9, 9, 9);  
}