
/* General styles for the navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0a0a0a;
  color: white;
z-index: 2;
}

.logo {
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.logo h4 {
  margin-left: 10px;
  color: white;
}

.NavLinks ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.NavLinks ul li a {
  color: white;
  text-decoration: none;
  position: relative;
  font-size: 1.2rem;
}

.NavLinks ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.NavLinks ul li a:hover::after {
  width: 100%;
}

/* Active link styling */
.NavLinks a.active {
  color: purple;
  text-decoration: underline;
  font-weight: bold;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100%;
  background-color: #111010;
  color: white;
  transition: right 0.3s ease;
  z-index: 2;
}

.sidebar.show {
  right: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 20px;
}

.sidebar ul li {
  margin: 20px 0;
  border-bottom: 2px solid white;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 1.2rem;
}

.sidebar ul li a:hover {
  background-color: #080808;
  border-radius: 20px;
}

.sidebar ul li a.active {
  color: purple;
  font-weight: bold;
}

/* Button styling for the hamburger menu */
.hamburger-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Adjust the size and color of the hamburger icon */
.hamburger-icon {
  width: 32px; /* Adjust size as needed */
  height: 32px; /* Adjust size as needed */
  color: white; /* Set icon color */
}

/* Make sure the button is only visible on smaller screens */
@media (max-width: 768px) {
  .hamburger-button {
    display: flex;
  }

  .NavLinks {
    display: none;
  }
}

/* Hide the hamburger button on larger screens */
@media (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
.sidebar{
  display: none;
}
  .NavLinks {
    display: block;
  }
}

.close-icon {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin-left: auto;
}

/* Responsive */
@media (max-width: 768px) {
  .NavLinks {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .NavLinks {
    display: block;
  }
}


.socialnav-links{
  display: flex;
  background: #f9f6f6;
  box-shadow: rgba(238, 238, 241, 0.545) 0px 0px 29px ;
  border-radius: 5px;
  margin: 5px;
}