@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact-container {
background-color: black;
padding: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

@media (max-width:500px){
  .contact-container{
    padding: 0px;
  }
}

.contact-container img {
 margin: 25px 0px;
  animation: slideUp 0.6s ease-in-out;
  width: 300px;
}

@media (max-width:500px){
  .contact-container{
    padding: 0px;
  }
  .contact-container img{
    width: 200px;
  }
}


form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
  animation: fadeIn 1s ease-in-out;
  background-color: rgb(16, 15, 15);
  backdrop-filter: blur(5px);
}

.input {
  margin-bottom: 20px;
  animation: slideUp 0.6s ease-in-out;
  width: 100%;
}

.input:nth-child(1) {
  animation-delay: 0.4s;
}

.input:nth-child(2) {
  animation-delay: 0.6s;
}

.input:nth-child(3) {
  animation-delay: 0.8s;
}

.input:nth-child(4) {
  animation-delay: 1s;
}

.input label {
  display: block;
  margin-bottom: 0px;
  font-weight: bold;
  color: purple;
  font-size: 25px;
}

.input input,
.input textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccd0d5;
  border-radius: 8px;
  font-size: 16px;
  background-color: #ffffff;
  color: #333;
  transition: border-color 0.3s ease-in-out;
}

.input input:focus,
.input textarea:focus {
  outline: none;
  border-color: #007bff;
}

textarea {
  resize: vertical;
  min-height: 120px;
  animation: slideUp 1s ease-in-out;
  animation-delay: 1.1s;
}

.form-btn {
  display: block;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  animation: slideUp 1s ease-in-out;
  animation-delay: 1.2s;
  transition: background-color 0.3s ease-in-out;
}

.form-btn:hover {
  background-color: #0056b3;
}

span{
  color: red;
}