.not-found{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 30px;
}

.notfound-img{
    padding: 20px;
    width: 50%;
}
.notfound-img img{
    width: 100%;
    border-radius: 10px;
}

.notfound-text{
    text-align: center;
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}

.notfound-text>.back-link{
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    background-color: blueviolet;
    width: 100px;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    transition: 0.7s;
}
.notfound-text>.back-link:hover{
    background-color: rgb(102, 8, 190);
}


.notfound-text p{
    font-size: 1.8rem;
}