.project-container{
  border-bottom: none;
  margin: auto;
  text-align: center;
  background-color: #000;
}

.project-container h1{
  color: white;
  padding-top: 20px;
}
.swiper{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: auto;
padding: 30px;
gap: 20px;
width: 100%;
height: auto;

}

.project-image{
  border: none;
}

.project-image img{
max-width: 40rem;
aspect-ratio: 3/2;
border-radius: 5px;
border: 2px solid purple;
}

.text-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  color: white;
}

.text-item h1{
  border: 2px solid purple;
  padding: 10px;
  border-radius: 5px;
}

@media(max-width:1240px){
  .swiper{
      flex-wrap: wrap;
      padding: 10px;
  }

  .project-image img{
      width: 100%;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000000;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}


.language{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}



.lang-item{
  border: 1px solid rgb(245, 241, 241);
  outline: none;
  padding: 10px 20px;
  border-radius: 7px;
  text-align: center;
  transition: all 0.6s;
  background-color: rgb(13, 13, 13);
  color: #f7f1f1;
  border: 2px solid purple;
  width: auto;
}

.lang-item:hover{
  border: none;
  background-color: purple;
  cursor: pointer;
}

.project-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.project-links a{
text-decoration: none;
color: rgb(240, 233, 233);
font-size: 30px;
width: 50px;
height: 50px;
padding: 10px 0px;
transition: all 1s;
border: 2px solid purple;
border-radius: 5px;
}

.project-links a:hover{
  color: white;
  border-radius: 50%;
  background-color: purple;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
width: 50px;
padding: 8px;
aspect-ratio: 1;
border-radius: 50%;
background: #25b09b;
--_m: 
  conic-gradient(#0000 10%,#000),
  linear-gradient(#000 0 0) content-box;
-webkit-mask: var(--_m);
        mask: var(--_m);
-webkit-mask-composite: source-out;
        mask-composite: subtract;
animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}